.Tilt {
  background-color: #663dff;
  background-image: linear-gradient(
    319deg,
    #663dff 0%,
    #aa00ff 37%,
    #cc4499 100%
  );

  height: 150px;
  width: 150px;
  margin: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.Tilt-inner {
  color: white;
  display: flex;
  align-items: center;
}
/* .LogoImage {
  height: 160px;
  width: 200px;
} */
