.card-background {
  width: 400px;
  display: flex;
  height: 400px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 30px;
  opacity: 0.5;
  position: relative;
}
.cardlist {
  display: inline-flex;
}
.branch {
  font-size: 40px;
  color: white;
}
.inner-card {
  display: block;
}
.outerCard {
  width: 400px;
  display: flex;
  height: 400px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 30px;
  position: absolute;
  cursor: pointer;
}
.outerCard:hover {
  opacity: 1;
  background-color: palevioletred;
}
