.background {
  display: flex;
  height: 400px;
  width: 400px;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  margin: 30px;
  opacity: 0.5;
  position: relative;
}
.cardlist {
  display: inline-flex;
}
.heading {
  min-width: 100%;
  font-size: 40px;
  color: white;
}
.number {
  padding: -100px;
  font-size: 70px;
}
/* .innerCard {
  display: block;
} */
.card {
  display: flex;
  height: 400px;
  width: 400px;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  margin: 30px;
  position: absolute;
  cursor: pointer;
}
.card:hover {
  opacity: 1;
  background-color: palevioletred;
}
